body
{
    background-color: #4c4e56;
    font-family: "Lucida Console", Monaco, monospace;
    color: #b2d8e8;
}

input, select
{
    color: #1e3f3f !important;
}

.hover-text {
    padding: 8px;
    background-color: #b2d8e8;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
}