ul
{
    list-style-type: none;
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li a
{
    display: block;
    color: white;
    text-decoration: none;
}

.nav-brand, .nav-product, .nav-login
{
    display: flex;
    gap: 1rem;
}

nav.nav-product
{
    display: flex;
    justify-content: center;
}

ul li a:hover
{
    background-color: #111111;
}