<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <title>AddProduct</title>
</head>
<body>
<div layout:fragment="content">
    <form action="#" th:action="@{doAddProduct}" th:object="${productModel}" method="post">
        <table>
            <tr>
                <td>Type:</td><td><input type="text" th:field="*{type}" ></td>
                <td><h5 style="color:red" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Type Error</h5></td>
            </tr>
            <tr>
                <td>Title:</td><td><input type="text" th:field="*{title}"></td>
                <td><h5 style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</h5></td>
            </tr>
            <tr>
                <td>Age Rating:</td><td><input type="text" th:field="*{ageRating}" ></td>
                <td><h5 style="color:red" th:if="${#fields.hasErrors('ageRating')}" th:errors="*{ageRating}">Age Rating Error</h5></td>
            </tr>
            <tr>
                <td>Main Genre:</td><td><input type="text" th:field="*{genre}"></td>
                <td><h5 style="color:red" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">Genre Error</h5></td>
            </tr>
            <tr>
                <td>Date:</td><td><input type="text" th:field="*{date}" ></td>
                <td><h5 style="color:red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date Error</h5></td>
            </tr>
            <tr>
                <td>Publisher/Studio:</td><td><input type="text" th:field="*{publisherOrStudio}"></td>
                <td><h5 style="color:red" th:if="${#fields.hasErrors('publisherOrStudio')}" th:errors="*{publisherOrStudio}">
                    Publisher or Studio Error</h5></td>
            </tr>

            <div th:switch="${type}">
                <tr th:case="'Book'">
                    <td>Author:</td><td><input type="text" th:field="*{author}"></td>
                    <td><h5 style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">
                        Author Name Error</h5></td>
                </tr>

                <tr th:case="'MovieOrShow'">
                    <td>Duration in Hours:</td><td><input type="number" th:field="*{durationInHours}"></td>
                    <td><h5 style="color:red" th:if="${#fields.hasErrors('durationInHours')}" th:errors="*{durationInHours}">
                        Duration Error</h5></td>
                </tr>

                <tr th:case="'VideoGame'">
                    <td>Amount of Players:</td><td><input type="text" th:field="*{numPlayers}"></td>
                    <td><h5 style="color:red" th:if="${#fields.hasErrors('numPlayers')}" th:errors="*{numPlayers}">
                        Number of Players Error</h5></td>
                </tr>
                <tr th:case="'VideoGame'">
                    <td>Required Equipment:</td><td><input type="text" th:field="*{requiredEquipment}"></td>
                    <td><h5 style="color:red" th:if="${#fields.hasErrors('requiredEquipment')}" th:errors="*{requiredEquipment}">
                        Required Equipment Error</h5></td>
                </tr>

                <p th:case="*">Unknown Product.</p> <!-- default case -->
            </div>

            <tr>
                <div class="submitButton">
                    <td colspan="3" style="text-align:center;">
                        <input type="submit" value="Submit">
                    </td>
                </div>
            </tr>
        </table>
        <div th:if="${#fields.hasErrors('*')}">List of Errors</div>
        <div th:each="err : ${#fields.errors('*')}">
            <span style="color:red" th:text="${err}" class="fieldError"></span>
        </div>
    </form>
</div>
</body>
</html>