<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate" lang="en">
<head>
<!--    <meta charset="UTF-8">-->
<!--    &lt;!&ndash;I added the viewport tag here because it's a great idea to make it responsive&ndash;&gt;-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <title>Home</title>-->
<!--    <link rel="stylesheet" th:href="@{/navbar.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/basic.css}"/>-->
</head>
<body>
<header>
    <body>
<!--    <div th:replace="fragments/Navbar :: navbar"></div>-->
        <div layout:fragment="content">

        </div>
    </body>
</header>
</html>