<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<body>
		<div th:fragment="header">
				<div class="bs-example">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="#" class="navbar-brand">MediaGrabBag</a>
						</div>
						<div id="navbarCollapse" class="collapse navbar-collapse">
							<ul class="nav navbar-nav">
								<!--TODO: insert links to other parts of the website-->
								<!--<li><a href="" target="_blank">Home</a></li>-->
								<!--<li><a href="" target="_blank">Shop</a></li>-->
								<!--<li><a href="" target="_blank">News and Events</a></li>-->
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/">Start Page</a></li>
							</ul>
						</div>
					</nav>
				</div>
				
				<h2 th:text="${title}">Default Message Text</h2><br/>
		</div>
			
		<div th:fragment="footer">
			<!--If you want you can add something here-->
		</div>
	</body>
</html>